{% capture author_info %}
<div class="author">
 {% if site.author_thumbnail && site.author_thumbnail != '' %}
  <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">
    <img 
      src="{{ site.author_thumbnail | prepend: site.baseurl | prepend: site.url }}"
      alt="{{ site.title }}" width="60" height="60" />
  </a>
  {% endif %}
  <h5>Author</h5>
  <h6>
    <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">
      {{ site.author }}
    </a>
  </h6>
  <p>
    Find me on
        <a title="Viacheslav Korolev on LinkedIn"
            href="https://ru.linkedin.com/in/korolvs"
            class="linkedin" target="_blank">LinkedIn</a>
        /
        <a title="{{ site.theme.social.facebook }} on Facebook" 
            href="https://facebook.com/{{ site.theme.social.facebook }}" 
            class="facebook" target="_blank">Facebook</a>
  </p>
</div>
{% endcapture %}{{ author_info | strip_newlines }}